[Desktop Entry]
Version=1.0
Name=SCC Core
Comment=SCC P2P Cryptocurrency
Comment[de]=Verbinde mit dem SCC peer-to-peer Netzwerk
Comment[fr]=SCC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SCC, eşten eşe kriptografik sanal para birimi
Exec=scc-qt %u
Terminal=false
Type=Application
Icon=scc128
MimeType=x-scheme-handler/scc;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=SCC-qt
