# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit sccd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/stakecubecoin/stakecubecoin.conf, except for those explicitly specified as arguments
# in ExecStart=

[Unit]
Description=SCC daemon
After=network.target

[Service]
ExecStart=/usr/bin/sccd -daemon \
                                                            -pid=/run/sccd/sccd.pid \
                                                            -conf=/etc/stakecubecoin/stakecubecoin.conf  \
                                                            -datadir=/var/lib/sccd

# Process management
####################

Type=forking
PIDFile=/run/sccd/sccd.pid
Restart=on-failure
TimeoutStopSec=600

# Directory creation and permissions
####################################

# Run as scc:scc
User=scccore
Group=scccore

# /run/sccd
RuntimeDirectory=sccd
RuntimeDirectoryMode=0710

# /etc/scc
ConfigurationDirectory=scc
ConfigurationDirectoryMode=0710

# /var/lib/sccd
StateDirectory=sccd
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
